/*
    Name: Andy Padilla
    Date Created: 3/12/2021
    Most recent revision:
*/
body{
	background-color: #FFEBCD;
}

header,footer {
    background-color: #DEB887;
	text-align: center;
	padding: 30px 10px 10px 10px;
	border: 5px solid black; 
}
nav{
	background-color: #DEB887;
	border-bottom: 5px solid black;
	border-left: 5px solid black;
	border-right: 5px solid black;
	padding: 5px ;
	
}
nav a{
	text-decoration:none;
}
nav a:visited {
    color: Chocolate; 
	text-decoration:none;
}
nav a:hover{
	font-weight:bold;
	text-decoration:none;
}
nav a:active {
    text-decoration:none;
}
header h1 {
	font-family: arial, helvetica, sans-serif;
}
li a{
	background-color: #cce6ff;
}
 .nav-link.active{
	background-color: #99ccff !important;
	border: 1px solid black;
	border-bottom-color: transparent;
}
.jumbotron{
	background-color: #e4c3ad;
}
.carousel{
    background: #e4c3ad;
    margin: 5px;
}
.carousel-item{
	font-weight:bold;
    text-align: center;
	padding: 30px;
}